{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}

{% block subtitle %}{{ pkg.title or pkg.name }}{% endblock %}

{% block primary_content_inner %}

  {% block package_description %}
    <section class="module-content">
      {% if pkg.private %}
        <span class="dataset-private label label-inverse pull-right">
          <i class="icon-lock"></i>
          {{ _('Private') }}
        </span>
      {% endif %}
      <h1>
        {% block page_heading %}
        {{ pkg.title or pkg.name }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% endblock %}
      </h1>
      {% block package_notes %}
      {% if c.pkg_notes_formatted %}
        <div class="notes embedded-content">
          {{ c.pkg_notes_formatted }}
        </div>
      {% endif %}
      {% endblock %}
      {# FIXME why is this here? seems wrong #}
      <span class="insert-comment-thread"></span>
    </section>
  {% endblock %}

  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}
  
  {% block developer_resources %}
  <section id="dataset-data_dictionary" class="resources module-content">
  <h3>Developer &amp; Researcher Resources</h3>
    {% if pkg.get('dataDictionary') %}
      <p><strong>Data Dictionary</strong>: {{ pkg.dataDictionary }}</p>  
    {% endif %}
    
    
    {% if c.pkg.related %}
      {% snippet "related/snippets/related_API_list.html", related_items=c.pkg.related, pkg_id=c.pkg.name %}
    {% endif %}
    </section>
  {% endblock %}

  {% block primary_content_inner2 %}
    
      {% block related_list %}
      
      {% if c.pkg.related %}
      <section class="module-content">
      
        <h3>{% block page_heading2 %}{{ _('These Data Fuel:').format(dataset=h.dataset_display_name(c.pkg)) }}{% endblock %}</h3>
        {% snippet "related/snippets/package_related_list.html", related_items=c.pkg.related, pkg_id=c.pkg.name %}
      </section>
      {% endif %}
      {% endblock %}

    
  {% endblock %}
  
  {% block ideas %}
  <section id="dataset-ideas" class="resources module-content">
    {% if c.pkg.related %}
    <h3>Ideas for Using These Data</h3>
      {% snippet "related/snippets/related_idea_list.html", related_items=c.pkg.related, pkg_id=c.pkg.name %}
    {% endif %}
    </section>
  {% endblock %}

  {% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
  {% endblock %}

{% endblock %}
