{#
Displays a single related item.

related - The related item dict.
pkg_id  - The id of the owner package. If present the edit button will be
          displayed.

Example:



#}
{%- if related.type == 'api' -%}
<li data-module="related-api">
  <p><strong>API Endpoint:</strong> 
    <a href="{{ related.url }}">
    {{ related.url }}
  </a> 
    {% if related.description %}
      {{ h.render_markdown(related.description) }}
    {% endif %}

    {% if pkg_id %}
      {{ h.nav_link(_('Edit'), controller='related', action='edit', id=pkg_id, related_id=related.id, class_='btn btn-small') }}
    {% endif %}</p>

</li>
{%- endif -%}