<!-- Header Background Color, Image, or Visualization
================================================== -->

<div class="next-header">
</div>


<!-- Navigation & Search
	================================================== -->

<div class="container">

	<div class="next-top">

		<div class="navigation">
			<ul class="next-nav">
				<li class="next-us-flag">Official US Government Website</li>
				<li class="next-primary"><a href="http://54.225.112.145/">Data.Gov</a></li>
				<li><a href="http://alpha.data.gov">Highlights</a></li>
			</ul><!-- nav -->
		</div>

		<div class="next-search">
			<a href="#"><img src="http://gsa.github.io/datagov-design/assets/search-small.png"></a>
			<!--        <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
              <div class="field">
                <label for="field-sitewide-search">{{ _('Search Datasets') }}</label>
                <input id="field-sitewide-search" name="q" placeholder="{{ _('Search') }}" type="text" />
                <button class="btn-search" type="submit">{{ _('Search') }}</button>
              </div>
            </form>
      -->
		</div>

</div> <!-- top -->
	
<!-- CKAN Content
================================================== -->

<div class="next-content">

	<div class="sixteen columns">


